node_modules
coverage
build
.DS_Store
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
cypress/videos
cypress/screenshots
.nyc_output
.env*.local
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/team-provider-info.json
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
aws-exports-es5.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
